dist/*
!dist/firebase.json
test/*
!test/_config.yml
!test/_posts
!test/_about
source/scripts/vendor/
src/scripts/bower_components/
src/photos_out/
src/inline_css/
src/photos_in/
src/embed_css/bourbon/
src/svg/svgsprite.svg
src/scripts/nge
node_modules/
src/sass/bourbon/
bower_components/
npm-debug.log
src/fonts/fonts_in/
_site/
