{% if paginator.page == 1 %}
<nav id="main-nav-wrapper" class="main-nav-wrapper main-nav-wrapper--animatible">
{% else %}
<nav id="main-nav-wrapper" class="main-nav-wrapper">
{% endif %}
  <a id="search-button" class="main-nav" href="/search/" rel="next">
    <svg class="menu-icn active-state">
      <use xlink:href="#search" />
    </svg>
    <svg class="menu-icn inactive-state">
      <use xlink:href="#close" />
    </svg>
  </a>
  <a class="main-nav" href="/about/" rel="next">
    <svg class="menu-icn">
      <use xlink:href="#about" />
    </svg>
  </a>
  <a class="main-nav">
    <svg class="menu-icn">
      <use xlink:href="#twitter" />
    </svg>
  </a>
</nav>
