<section id="search-wrapper" class="search-wrapper">
  <div class="search-tools-wrapper">
    <div class="input-wrapper">
      <div id="search-field-clear" class="search-field-clear">
        <svg class="menu-icn-small inactive-state">
          <use xlink:href="#close" />
        </svg>
      </div>
      <input id="search-field" class="embed-code embed-code-small url-code" type="text" placeholder="Search"></input>
    </div>
    <p id="results-count">yy</p>
    <div id="results-wrapper" class="results-wrapper"></div>
  </div>
</section>
