---
layout: main_layout
pagetype: index
---
{% if paginator.page == 1 %}
@@include('partials/header_image.html')
<main class="blog-wrapper">
  {% else %}
<main class="blog-wrapper blog-wrapper-static">
{% endif %}
  @@include('partials/site_header.html')
  <div id="entry-wrapper" class="entry-wrapper entry-wrapper--animated">
  {% for post in paginator.posts %}
  {% if post.link %}
      @@include('partials/link_entry.html')
  {% else %}
      @@include('partials/blog_entry.html')
  {% endif %}
  {% endfor %}
  </div>
@@include('partials/reefers.html')
@@include('partials/pagination.html')
</main>
