<aside id="reefers" class="reefers-wrapper">
  {% assign offsetCount=paginator.per_page | times:paginator.page %}
  {% assign nextCount=paginator.per_page | times:paginator.total_pages %}

  {% if paginator.page != paginator.total_pages %}
  <h2 class="basic header utility-header">On the next page &#8230;</h2>
  {% endif %}
  <ul>
  {% assign counter=0 %}
  {% for post in site.posts offset:offsetCount %}
  {% capture linksTest %}{{ post.link | size }}{% endcapture %}
  <!-- <p>{{linksTest}}</p> -->
    {% if linksTest == '0' and counter < 3 %}
    {% assign counter=counter | plus:1 %}
      <li><a href="{{post.url}}" rel="canonical">
       {{post.title | markdownify | strip_html}}</a>
           <svg class="inline-icn">
             <use xlink:href="#arrow" />
           </svg>
       </li>
     {% endif %}

  {% endfor %}
</ul>
</aside>
