<div id="siteheader-placeholder" class="siteheader-placeholder"></div>
<header id ="siteheader" class="siteheader">
  <a href="/">
    <hgroup>
      {% if page.pagetype == 'index' or page.pagetype == 'entry'%}
      <figure class="main-head-wrapper">
        <svg id="main-head" class="main-head">
          <use xlink:href="#header" />
        </svg>
      </figure>
        <h1 class="off-page"><a href="/">Inevitable Rise <br>of the Machines</h1>
        <h2 id="secondary-head" class="secondary-head">The only website brave enough to tell the truth about The Robots</h2>

      {% elsif page.pagetype == 'tag-archive' %}
      <figure class="main-head-wrapper">
        <svg id="main-head" class="main-head main-head-alt">
          <use xlink:href="#header_archive" />
        </svg>
      </figure>
        <h1 class="off-page"><a href="/">Inevitable Rise <br>of the Machines: Archive</h1>
        <h2 id="secondary-head" class="secondary-head">The only archive page brave enough to tell the truth about The Robots</h2>

      {% elsif page.pagetype == 'about' %}
      <figure class="main-head-wrapper">
        <svg id="main-head" class="main-head main-head-alt">
          <use xlink:href="#header_about" />
        </svg>
      </figure>
        <h1 class="off-page"><a href="/">Inevitable Rise <br>of the Machines: About</h1>
        <h2 id="secondary-head" class="secondary-head">The only FAQ page brave enough to tell the truth about The Robots</h2>
      {% endif %}
    </hgroup>
  </a>
</header>
