<!doctype html>
<html class="no-js" lang="">
    {% include head.html %}
    <body>
        @@include('partials/nav.html')
        {{ content }}
        <section class="hidden">
        @@include('../svg/svgsprite.svg')
      </section>
      @@include('partials/footer.html')
    </body>
    @@include('partials/js_links.html')
    <script>
    (function() {
      "use strict";
      // pageFunctions.intialize();
      {% if page.pagetype == 'index' %}
      pageFunctions.initializeIndex();
      {% endif %}
      {% if page.pagetype == 'entry' %}
      pageFunctions.initializeSinglePage();
      {% endif %}
      {% if page.pagetype == 'search' %}
      pageFunctions.intializeSearch();
      {% endif %}
    })();
    </script>
</html>
