---
layout: main_layout
pagetype: entry
---

<main class="blog-wrapper blog-wrapper-static">
    @@include('../pages/partials/site_header.html')
<div class="flip-container">
  <div id="flip-card" class="flip-card">
    <section class="card-side card-front">
        <article>
        <p class="overline"><em>{{ page.date | date: "%m.%d.%y" }}</em></p>
        <h1 class="basic-header basic-header-large">{{ page.title | markdownify | strip_html }}</h1>
          <div class="entry-body">
            {{content}}
          </div>
        <footer class="entry-tags">
            <ul class="inline-list">
              {% for tag in page.tags %}
                <li><a href="/tag/{{tag | replace:' ','-' | replace:'&','&amp;' | downcase }}.html" rel="tag">{{ tag }}</a></li>
              {% endfor %}
            </ul>
        </footer>
      </article>
      <div class="button-container">
        <div class="form-section">
          <input id="share-button" class="centered-object btn btn-large" type="button" value="Share this"></input>
        </div>
      </div>
    </section>

    <section class="card-side card-back">
        <div class="article-card">
          @@include('partials/twitter_button.html')
          @@include('partials/site_url.html')
          @@include('partials/embed_code.html')
        <div class="button-container">
          <div class="form-section">
              <input id="cancel-button" class="centered-object btn btn-large" type="button" value="Show entry"></input>
          </div>
        </div>
      </section>

      </div>
  </div>
</main>
