---
layout: main_layout
pagetype: entry
---

<main class="blog-wrapper">
<article class="article-card">
<a href="/">
<header>
  <p class="article-card-head"><a href="/" rel="prev">Inevitable Rise of the Machines</a></p>
  <p class="basic-header">{{ site.tagLine }}</p>
  <p> ---- </p>
</header>
</a>
  <h1 class="basic-header">{{ page.title | markdownify | strip_html }}</h1>
    <p><em>{{ page.date | date: "%A, %B %-d, %Y" }}</em></p>
    <div class="entry-body">
      {{content}}
    </div>
  <footer class="entry-tags">
      <ul class="inline-list">
        {% for tag in page.tags %}
          <li><a href="/tag/{{tag | replace:' ','-' | replace:'&','&amp;' | downcase }}.html" rel="tag">{{ tag }}</a></li>
        {% endfor %}
      </ul>
  </footer>
  <input class="centered-object" type="button" value="Share This"></input>
</article>
</main>
