---
layout: main_layout
pagetype: tag-archive
---
<h2 class="post_title">{{page.title}}</h2>

<main class="blog-wrapper blog-wrapper-static">

@@include('../pages/partials/site_header.html')

<section>
<h1 class="basic-header">Results for <strong>&ldquo;{{page.tag}}&rdquo;</strong></h1>

{% for post in site.posts %}
{% for tag in post.tags %}
{% if tag == page.tag %}
<article class="entry-container">
<h2 class="basic-header"><a href="{{post.url}}" rel="canonical">{{post.title | markdownify | strip_html }}</a></h2>
    <p class="blog-entry-date">{{ page.date | date: "%B %d, %Y" }}</p>

<div class="entry-body">
<p>{{post.content | truncatewords: 100 | markdownify | strip_html }}&nbsp;<a href="{{post.url}}" rel="canonical" class="inline-link">More</a>
  <svg class="inline-icn">
    <use xlink:href="#arrow" />
  </svg></a>
</p>
</div>
</article>
{% endif %}
{% endfor %}
{% endfor %}
</section>
</main>
