.hidden {
  visibility: hidden;
  display:none;
}
.off-page {
  position:absolute;
  right:-10000px;
  height:0px;
  width:0px;
  overflow:hidden;
}
.no-scroll {
  overflow:hidden;
  height:100vh;
  position:fixed;
  left:0;
  right:0;
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  margin:0 auto;
  display:block
}
::selection {
  background: $brand-light; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $brand-light; /* Gecko Browsers */
}
.inline-list {
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    padding-right:rem(10);
      &::before {
        content:'|';
        padding-right:rem(10);
        display:inline-block;
        font-style: normal;
      }
      &:nth-child(1) {
        &::before {display:none;}
      }
  }
}
.inline-link {
  display:inline-block;
  background-image: none !important;
  font-weight:700;
}
.siteheader {
  margin:0;
  user-select:none;
  position: fixed;
  bottom:5vh;
  max-width:rem(750);
  transform:translateZ(0);

  @media screen and (max-width:rem(1080))	{
    max-width:rem(600);
  }
  @media screen and (max-width:rem(750))	{
    max-width:rem(500);
  }
  &:after {
    content:'-----';
    color:white;
    margin:rem(20) 0 0 0;
    display:block;
    transition: color .1s;
    transition-delay: .3s;
  }
}
.siteheader--active {
   position:static;
}
.siteheader-placeholder {
  height:rem(255);
}
.siteheader-placeholder--active {
  height:0;
}
.main-head {
  font-family:$primary-two;
  font-size:rem(85);
  line-height:90%;
  margin:0 0 rem(20);
  color:white;
  transition: color .1s ease-in;
  transition-delay: .3s;
  // will-change:initial;
  @media screen and (max-width:rem(750))	{
    font-size:rem(70);
  }
  @media screen and (max-width:rem(550))	{
    font-size:rem(60);
  }
  @media screen and (max-width:rem(500))	{
    font-size:rem(48);
  }
  @media screen and (max-width:rem(400))	{
    font-size:rem(42);
  }
    a {
      color:inherit;
      cursor:pointer;
      &:hover {color:inherit;}
    }
}
.main-head--active {
  color:$brand;
    a {
      color:$brand;
      transition: color .1s ease-in;
      transition-delay: .3s;
    }
}
.secondary-head {
  color:white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  font-size:rem(20);
  @media screen and (max-width:rem(600))	{
    margin:rem(5) 0;
    font-size:rem(18);

  }
}
.secondary-head--active {
  color:black;
  transition: color .1s ease-in;
  transition-delay: .3s;
}
.header-after--active {
     &:after {
       color:black;
       transition: color .1s ease-in;
       transition-delay: .3s;
     }
  }
.main-head-vis {
  color:$brand;
  span {color:black;}
}
.secondary-head-vis {
  color:black;
}
.article-card-header {
  user-select:none;
    p {
      @media screen and (max-width:rem(600))	{
        margin:rem(5) 0 rem(8);
      }

    }
}
.basic-header {
  font-weight:700;
  font-size:rem(18);
  margin:0 0 rem(15);
  line-height:130%;
}
.utility-header {
  line-height:120%;
  margin-bottom:rem(15);
  font-size:rem(19);
}
.basic-header-large {
  font-size:rem(22);
  margin: 0 0 rem(10);
    @media screen and (max-width:rem(600))	{
      font-size:rem(20);
      line-height: 120%;
     }
}
.overline {
  margin:0 0 rem(5);
}
.blog-wrapper {
  max-width:rem(750);
  width:100%;
  margin:rem(40) auto;
  @media screen and (max-width:rem(1180))	{
    max-width:rem(600);
  }
  @media screen and (max-width:rem(700))	{
    padding:0 rem(10);
  }
  @media screen and (max-width:rem(600))	{
    margin:rem(20) auto;

  }
}
a {
  color:black;
    &:hover {
      color:$brand;
      transition: color .1s ease-in;
    }
}
.entry-wrapper {
  padding-top:rem(60);
}
.entry-wrapper--animated {
  opacity: 0;
  transition: opacity .6s;
  transition-delay: .4s;
  will-change:opacity;
}
.entry-wrapper--active {
    opacity: 1;
}
.blog-wrapper-static {
  @media screen and (max-width:rem(600))	{
    margin-top:rem(20);
  }
  .entry-wrapper--animated {
    opacity: 1;
  }
  .siteheader {
     position:static;
     &:after {
       color:black;
       transition: color .1s;
       transition-delay: .2s;
     }
  }
  .siteheader-placeholder {
    display:none;
  }
  .main-head {
    color:$brand;
      a {
        color:$brand;
      }
  }
  .secondary-head {
    color:black;
  }
}
.main-nav-wrapper {
  position:fixed;
  right:30px;
  bottom:30px;
  border:1px;
  display:flex;
  flex-direction: column;
  width:rem(45);
  justify-content: space-between;
  z-index: 10;
  @media screen and (max-width:rem(600))	{
    width:100%;
    height:rem(50);
    right:0;
    bottom:rem(30);
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.main-nav-wrapper--animatible {
  transform:translateY(200px);
  @media screen and (max-width:rem(600))	{
    transform:translateY(80px);
    transition: transform .3s cubic-bezier(.73,.16,.52,1.42);
  }
}
.main-nav-wrapper--active {
  transition: transform .3s cubic-bezier(.73,.16,.52,1.42);
  transition-delay: .5s;
  transform: translateY(0);
}
.main-nav-wrapper--static {
  transition: none;
  transition-delay: none;
  transform: translateY(0);
}
.main-nav {
  list-style-type: none;
  position: relative;
  background-color:black;
  width:rem(45);
  height:rem(45);
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  padding:0;
  margin:rem(5) 0;
  cursor:pointer;
  transition:background-color .2s;
    @media screen and (max-width:rem(600))	{
      margin:0 rem(15);
    }
    .active-state {
      display:block;
      opacity:1;
      transition: opacity .2s;
    }
    .inactive-state {
      display:none;
      opacity:0;
      transition: opacity .2s;
    }
    &:hover {
      background-color: $brand;
      transition: background-color .2s;
    }
}
.main-nav--active {
  background-color: $brand;
  opacity:1;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.17,.67,.31,1.3);
    .active-state {
      display:none;
      opacity:0;
      transition: opacity .2s;
    }
    .inactive-state {
      display:block;
      opacity:1;
      transition: opacity .2s;
    }
}
@keyframes pulse {
    65%  {
      opacity:.9;
      transform: scale(1.1,1.1);
    }
    100% {
      opacity:1;
      transform: scale(1,1)
    }
}
.menu-icn {
  width:rem(30);
  height:rem(30);
  fill:white;
  position:absolute;
  top:7px;
  left:7px;
}
.menu-icn-small {
  width:rem(18);
  height:rem(18);
  fill:white;
  position:absolute;
  top:1px;
  left:1px;
}
.inline-icn {
  fill:$brand;
  height:12px;
  width:24px;
  display:inline-block;
  vertical-align: -1px;
  margin:0 rem(5);
}
.reefers-wrapper {
  width:160px;
  position:fixed;
  bottom:10vh;
  left:calc(((100vw - 850px) / 2) - 150px);
  opacity:0;
  transition: opacity .3s;
  margin:0 0 rem(40);
  will-change:opacity;
  @media screen and (max-width:rem(1180))	{
    left:calc(((100vw - 700px) / 2) - 150px);
  }
  @media screen and (max-width:rem(1035))	{
    position:static;
    width:100%;
  }
    li {
      margin:0 0 rem(18);
      font-style:italic;
    }
}
.reefers-wrapper--active {
  opacity:1;
  transition: opacity .3s;
  transition-delay: .8s;
}
.header-image {
  width:100vw;
  height:100vh;
  margin:0;
  position: relative;
  z-index: -3;
  background: url('/siteart/preload_sm_robotsone.jpg') no-repeat top center;
  background-size:cover;
  -webkit-background-size:cover;
  background-blend-mode: multiply;
  background-attachment: scroll;
  @media screen and (min-width:rem(800))	{
    background: url('/siteart/preload_robotsone.jpg') no-repeat top center;
    background-size:cover;
    -webkit-background-size:cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
  }
  &::before {
    z-index: -2;
    width:100vw;
    height:100vh;
    content:" ";
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.25) 100%) no-repeat bottom center;
    background-size:100% 50%;
    -webkit-background-size:100% 40%;
    background-blend-mode: multiply;
    background-attachment: fixed;
    @media screen and (max-width:rem(800))	{
      background-size:100% 100%;
      -webkit-background-size:100% 100%;
    }
  }
  &::after {
    width:100vw;
    height:100vh;
    content:" ";
    position: absolute;
    z-index:-1;
    opacity:0;
    transition: opacity .3s;
    will-change:opacity;
    background-color: white;
  }
}
.header-image--active {
    &::after {
      transition: opacity .3s;
      opacity:1;
    }
}
.entry-container {
  width:100%;
  position:relative;
    &:after {
      content:'-----';
      display:block;
      margin:rem(30) 0 rem(40);
      user-select:none;
      @media screen and (max-width:rem(600))	{
        margin:rem(20) 0 rem(20);
      }
    }
}
.entry-tags {
  margin:0 0 rem(25);
  padding:0;
  font-style:italic;
  font-size:rem(15);
     @media screen and (max-width:rem(700))	{
       position: absolute;
       left:-1000000px;
     }
}
.site-footer {
  margin:rem(120) 0 0;
  padding:0 0 rem(40);
  @media screen and (max-width:rem(700))	{
    padding:0 0 rem(100);
  }
}
.footer-list {
  justify-content: center;
  margin:0 0 rem(60) 0;
}
.agate {
  font-size:rem(10);
  color:$med;
  text-align: center;
}
.btn, .fake-btn {
  border:1px solid $brand;
  padding:rem(20);
  background-color:$white;
  display:block;
  width:rem(220);
  text-align:center;
  @media screen and (max-width:rem(550))	{
    width:100%;
   }
   &:hover {
     background-color: $brand;
     color:white;
     transition: background-color .2s, color .2s;
   }
}
.btn-small {
  padding:rem(10);
  width:rem(150);
}
.btn-hidden {
  display:none;
  visibility: hidden;
}
.page-number {
  text-align:center;
}
.pagination-wrapper {
  padding:rem(5) 0 rem(10) ;
  border:1px solid $brand;

}
.pagination {
  display:flex;
  flex-direction: row;
  height:rem(30);
}
.pagination-direction {
  flex-basis:50%;
  flex-grow:0;
  padding:0;
  font-weight:700;
}
.back {
  text-align:right;
  padding:0 rem(10) 0;
}
.next {
    padding:0 0 0 rem(10);
}

.archive-header {
  font-weight:400;
  font-style:italic;
  margin:rem(20) 0 rem(20) 0;
  padding:0 0 rem(0);
    &::after {
      content:'-----';
      display:block;
      padding:rem(20) 0 0;
    }
    strong {font-style:normal;}
}

.flip-container {
  width:100%;
	perspective: 2500;
  transform-perspective: 2500;
}
.flip-card {
	transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  display: flex;
  align-items: stretch;
  box-shadow:1px 1px 12px $xlight;
  border-radius: rem(5);
  border:1px solid $xlight;
  -moz-transform: perspective(2500px);
  // will-change:transform;
  padding:em(25) rem(20) rem(30);
  border:1px solid $xlight;
    @media screen and (max-width:rem(600))	{
        padding:em(15) rem(15) rem(15);
     }
}
.flip-card--trans {
  transition: 0.4s cubic-bezier(.55,.02,.45,1.5);
  -moz-transform: perspective(2500px);
}
.flip-card--active {
  transform: rotateY(180deg);
}
.flip-card--activeToo {
  transform: rotateY(360deg);
  -moz-transform: perspective(2500px);
}
.card-side {
  // position: absolute;
  width:100%;
  backface-visibility: hidden;
  flex-shrink: 0;
  padding-bottom: rem(65);
}
.card-front {
  z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);
}
.card-back {
  transform: rotateY(180deg);
  // z-index:-1;
  position: relative;
  right:100%;
}
.form-section {
  &::after {
    content:'-----';
    text-align:center;
    display:block;
    margin:rem(10) 0;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.form-container {
  width:100%;
  height:auto;
  position:relative;
}
.form-container--active {
    &::before {
      content: 'Copied';
      height: calc(100% - 55px);
      position: absolute;
      top:0;
      width:100%;
      font-weight:700;
      text-align:center;
      color:white;
      opacity:0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
.form-container--success {
  &::before {
    content: 'Copied';
    background-color: rgba($brand, .6);
    text-shadow: 0 0 12px 12px rgba($brand, .6);
    animation-name: copyResult;
    animation-duration: 2s;
  }
}
.form-container--fail {
  &::before {
    content: 'Whoops! Something went wrong.';
    background-color: rgba($dark, .6);
    text-shadow: 0 0 12px 12px rgba($med, .6);
    animation-name: copyResult;
    animation-duration: 2s;
  }
}
.embed-code {
  display:block;
  width:100%;
  font-size:rem(15);
  border:1px solid $light;
  padding:rem(10);
  margin:0 0 rem(10);
}
.ebed-code-large {
  height:rem(120);
}
.ebed-code-large {
  height:rem(30);
}
.button-container {
  position:absolute;
  bottom:0;
  width:100%;
  display: flex;
  justify-content: center;
}
@keyframes copyResult {
    15%  {opacity:1;}
    65%  {opacity:1}
    100% {opacity:0;}
}
.search-wrapper {
  position: fixed;
  top:0;
  right:0;
  left:0;
  padding:rem(20);
  display:none;
  margin:0 auto;
  opacity:0;
  background-color: white;
  width:100vw;
  min-height:100vh;
  height:auto;
  transition: opacity .3s;
  &::after {
    display:block;
    content:'';
    width:100%;
    height:rem(80);
    position: fixed;
    bottom:0px;
    left:0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
.search-wrapper--active {
  display:block;
  opacity:1;
  transition: opacity .3s;
  z-index:5;
}
.search-tools-wrapper {
  max-width:rem(750);
  margin:0 auto;
  margin:60px auto 0;
  max-height:calc(100vh - 100px);
  @media screen and (max-width:rem(600))	{
    margin:60px 0 0;
  }
}
.input-wrapper {
  position: relative;
}
.search-field-clear {
  width:rem(20);
  height:rem(20);
  border-radius: 50%;
  background-color: $med;
  position:absolute;
  top:10px;
  right:20px;
  opacity:0;
}
.search-field-clear--active {
  display:block;
  opacity:1;
  transition: opacity .2s;
}
.results-wrapper {
  max-height:calc(100vh - 200px);
  position:relative;
  overflow-y: scroll;
  will-change:content;
   -webkit-overflow-scrolling: touch;
}
.search-result {
  padding:0 0 rem(10);
  &::after {
    display:block;
    content:"-----";
    margin:0 0 rem(10);
  }
  strong {
    background-color:$brand-light;
  }
}
