// colors
$black: #444;
$white: #fff;

$brand:#6B8E23;
$brand-light:#d7e1be;



// grays
$xxlight:#f5f5f5;
$xlight:#e4e2e2;
$light: #d0d0d0;
$med: #999;
$dark: #666;


// font family
$primary: 'Pitch', "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
$primary-two: "Coolvetica", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


// font sizes
$font-base-size: 16px;
$mega: rem(48);
$alpha: rem(36);
$beta: rem(24);
$gamma: rem(20);
$delta: rem(18);
$epsilon: rem(16);
$zeta: rem(14);
$omega: rem(12);
$mini: rem(10);
